/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 avr. 2017, 21:15:02
    Author     : fred_
*/

#logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin-bottom: 5px;
}

.cadreEtudes {
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
}

/* formation */
#cours {
    margin-top: 20px;
    position: relative;
    padding: 1em 0;
    list-style: none;
}

#cours:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 7.8px;
    top: 0;
    display: block;
    background: linear-gradient(to bottom, #ffffff 0%, #E2001A 7%, #E2001A, #ffffff 100%);
}

#cours li {
    width: 100%;
    z-index: 2;
    position: relative;
    float: left;
}

#cours .titre .glyphicon-circle-arrow-right:before {
    background: #FFFFFF; 
    color: #555;
}

#cours .titre {
    width: 75px;
    background-color: rgba(0,0,0,0);
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}

#cours .details {
    width: 325px;
    display: inline-block;
    background: #eee;
    position: relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #ddd;
    margin: -8px 0 20px 0;
}

#cours .details:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    left: -16px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-right-color: #eee;
    border-width: 8px;
    pointer-events: none;
}

#cours .details h3 {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

#cours .details p {
    font-size: 1.3em;
    margin-top: 5px;
    padding: 0;
}

/* pour empêcher la déformation de la formation selon la STA */
@media (min-width: 500px) {
    #cours .titre {
        width: 20%;
    }
    #cours .details {
        width:  80%;
    }
}
@media (min-width: 768px) {
    #cours .titre {
        width: 20%;
    }
    #cours .details {
        width: 80%;
    }
}
@media (min-width: 992px) {
    #cours .titre {
        width: 15%;
    }
    #cours .details {
        width:  84%;
    }
}
@media (min-width: 1200px) {
    #cours .titre {
        width: 13%;
    }
    #cours .details {
        width: 87%;
    }
}

.experience .logo {
    font-size: 1.3em;
}