/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 mars 2017, 20:34:57
    Author     : Frédéric Pouillard 
*/

#maPhoto {
    margin-right: 10px;
}

#copyright {
    text-align: center;
}

#intro {
    text-align: justify;
}

.row {
    text-align: justify;
}

